/* ### Full Width Content */
.full .site-inner {
	max-width: none;
	padding-top: 0;
	padding-left: 0;
	padding-right: 0; 
}

.full .entry {
	margin-bottom: 60px;
	padding: 0; 
}

.full h1::after {
	margin: 0 auto;
}

.head-margin {
	margin-top: 40px;
}

//Flex alignment 

.flex-wrap {
	display: flex;
}

.f {
	&-justify-end {
		justify-content: flex-end;
	}
	&-break {
		flex-wrap: wrap;
	}
	&-half-block {
		flex-basis: 100%;
		@include media($medium-screen-up) {
			flex-basis: 50%;
		}
	}
}

.centered {
	text-align: center;
}

/* Flex Layout */
.stripe {
	padding: $stripe_padding_mobile;
	@include media($small-screen-up) {
	  padding: $stripe_padding;
  }
}

.flex-plain {
	padding-left: 0;
	padding-right: 0;
}