/* Home Page Styles */

.homepage .site-inner {
	max-width: none;
	padding: 0;
}

.homepage .entry {
	padding: 0;
	margin-bottom: 0;
}

.skinny {
	margin: 0 auto;
	max-width: 720px;
}

.row-pad {
	padding: 50px 0;

	@include media($medium-screen-up) {
		padding: 90px 0;
	}
}

/***********

	Testimonials 

**************/

.testimonials {
	blockquote {
		font-style: normal;

	}
	&__name {
		padding: 5px 0;
		display:block;
	}

	&__stars {
		max-width: 200px;
		margin: 0 auto;
	}
}