/* ## Buttons
--------------------------------------------- */

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button {
	background-color: $button_bg_color;
	border: 0;
	color: $button_text_color;
	cursor: pointer;
	@include font-size($button_font_size);
	font-family: $button_font;
	font-weight: $button_font_weight;
	padding: 5px 40px;
	text-transform: $button_text_transform;
	width: auto; 
}

button:hover,
input:hover[type="button"],
input:hover[type="reset"],
input:hover[type="submit"],
.button:hover {
	background-color: $button_bg_hover_color;
	color: $button_text_hover_color; }

.button {
	display: inline-block; 
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button {
	display: none; 
}
