
.genesis-nav-menu {
	clear: both;
	font-family: $nav_font;
	@include font-size($nav_font_size);
	line-height: 1;
	width: 100%; 
}

.genesis-nav-menu .menu-item {
	display: inline-block;
	text-align: left; 
}

.genesis-nav-menu a {
	color: $nav_link_color;
	text-decoration: none;
	display: block;
	padding: $nav_item_padding; 
	@include media($medium-screen-up) {
		padding: 10px 15px;
	}
	@include media($large-screen-up) {
		padding: $nav_item_padding; 
	}
}

.genesis-nav-menu > .menu-item-has-children > a:after {
	font-family: FontAwesome;
	font-weight: 400;
	content: "\f107";
	margin-left: 6px; 
}

.genesis-nav-menu a:hover,
.genesis-nav-menu a:focus,
.genesis-nav-menu .current-menu-item > a,
.genesis-nav-menu .sub-menu .current-menu-item > a:hover,
.genesis-nav-menu .sub-menu .current-menu-item > a:focus {
	color: $nav_hover_color;
	text-decoration: none; 
}

.genesis-nav-menu .sub-menu a {
	background-color: $nav_bg_color;
	border-bottom: 1px solid $subtle_color;
	@include font-size($nav_submenu_font_size);
	padding: $nav_sub_item_padding;
	word-wrap: break-word; 
}

@include media($medium-screen-up) {

	.genesis-nav-menu .sub-menu {
		left: -9999px;
		opacity: 0;
		position: absolute;
		-webkit-transition: opacity .4s ease-in-out;
		-moz-transition: opacity .4s ease-in-out;
		-ms-transition: opacity .4s ease-in-out;
		-o-transition: opacity .4s ease-in-out;
		transition: opacity .4s ease-in-out;
		width: 220px;
		z-index: 99; 
	}

	.genesis-nav-menu > .menu-item-has-children .sub-menu > .menu-item-has-children > a {
		padding-right: 28px;
	}

	.genesis-nav-menu > .menu-item-has-children .sub-menu > .menu-item-has-children > a:after {
		font-family: FontAwesome;
		font-weight: 400;
		content: "\f105";
		margin-left: 6px; 
		position: absolute;
		right: 10px;
	}

	.genesis-nav-menu .sub-menu a {
		position: relative;
		width: 220px;
	}

	.genesis-nav-menu .sub-menu .sub-menu {
		margin: -34px 0 0 220px;
		border-left: 1px solid $subnav_border_color;
		border-top: 1px solid $subnav_border_color;
	}

	.genesis-nav-menu .menu-item:hover {
		position: static; 
	}

	.genesis-nav-menu .menu-item:hover > .sub-menu {
		left: auto;
		opacity: 1; 
	}

	.genesis-nav-menu > .first > a {
		padding-left: 0; 
	}

	.genesis-nav-menu > .last > a {
		padding-right: 0; 
	}

	.genesis-nav-menu > .right {
		color: #fff;
		float: right;
		list-style-type: none;
		padding: 30px 0; 
	}

	.genesis-nav-menu > .right > a {
		display: inline;
		padding: 0; 
	}
}

/* ## Accessible Menu
--------------------------------------------- */
.menu .menu-item:focus {
	position: static;
}

.menu .menu-item > a:focus + ul.sub-menu,
.menu .menu-item.sfHover > ul.sub-menu {
	left: auto;
	opacity: 1;
}
