/* # Site Header
---------------------------------------------------------------------------------------------------- */
.site-header {
	background-color: $header_bg_color;
	background-color: $main-color;
	display: flex;
	padding: 20px;
	justify-content: space-between;
	align-items:space-between;
	align-items: center;
	@include media($medium-screen-up) {
		padding: 20px 50px;
	}
}

.nav-primary-mobile {
	display: none;
}

//headroom JS Styles

.sticky-header {
	width: 100%;
	z-index: 99999;
	position: fixed;

	max-height: 100%;
	overflow-y: auto;
	right: 0;
	left: 0;
	top: 0;

	box-shadow: 0 0 14px #000;

	@include media($medium-screen-up) {
		max-height: initial;
		overflow-y: initial;
	}
}

.animated {
	animation-duration: .5s;
	animation-fill-mode: both;
	will-change: transform,opacity;
}

.animated.slideUp {
	animation-name:slideUp
}

@keyframes slideUp {
	0% {
	 transform:translateY(0)
	}
	100% {
	 transform:translateY(-100%)
	}
}

.animated.slideDown {
	animation-name:slideDown;
	animation-duration:.3s
}

@keyframes slideDown {
	0% {
	 -webkit-transform:translateY(-100%);
	 transform:translateY(-100%)
	}
	100% {
	 -webkit-transform:translateY(0);
	 transform:translateY(0)
	}
}