/* ## Widget Area
--------------------------------------------- */
.site-header .widget-area {
	text-align: right; 
	.nav-primary {
		display: none;
		@include media($medium-screen-up) {
			display: flex;
		}
	}
}

.header-widget-area {
	&__top {
		@include media($medium-screen-up) {
			display: flex;
			align-items: center;
			justify-content: flex-end;
			margin-bottom: 12px;
		}
	}
}

.phone-cta,
.phone-num {
	display: block;
}

.phone-cta {
	display: none;
	
	@include media($small-screen-up) {
		display: block;
		@include font-size(16);
		font-weight: 800;
		text-transform: uppercase;
	}
}

.lang-switcher {
	margin-bottom: 10px;
	@include media($medium-screen-up) {
		margin-bottom: 0;
		margin-right: 15px;
	}

	img {
		display: block;
	}
}

.phone-num {
	@include font-size(20);
	font-weight: 600;
	line-height: 1;
	
	@include media($small-screen-up) {
		@include font-size(32);
	}
}
