.hero {
	background-position: center;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: $hero_img_height_mobile;
	padding: $hero_padding_mobile;
	flex-direction: column;
	position: relative;
	overflow: hidden;
	@include media($medium-screen-up) {
		min-height: $hero_img_height;
		padding: $hero_padding;
	}
	&__image {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width:100%;
		height: 100%;
		z-index: 100;

		img {
			width:100%;
			height:100%;
		}
	}
	&__copy {
		z-index: 300;
		text-align: center;
		padding: 20px;
		@include media($medium-screen-up) {
			text-align: left;
		}
		p {
			margin-bottom: 0;
			@include media($medium-screen-up) {
				@include font-size(24);
				max-width:70%;
			}
			
			
		}
	}
	&__title {
		@include media($medium-screen-up) {
			@include font-size(60);
		}
		span {
			display: block;
			color: $accent_color;
			@include media($medium-screen-up) {
				@include font-size(36);
			}
		}
	}
	&__cta {
		justify-content: center;
		margin-top: 20px;
		margin-bottom: 20px;
		@include media($medium-screen-up) {
			justify-content: flex-end;
			border-top: 2px solid $main-color;
		}

	}
}

.bg-cover {
	position: absolute;
	background-color: rgba($white, .6);
	width:100%;
	height: 100%;		
	filter: blur(5px);
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 200;
}