/* ## Title Area
--------------------------------------------- */
.title-area {
	padding: 0 10px 0 0;
	flex-basis: 60%;
	@include media($medium-screen-up) {
		flex-basis: 40%;
	}
}

.site-title {
	font-family: $h2_font;
	@include font-size(30);
	font-weight: 200;
	line-height: 1.2; 
	text-transform: none;
}

.site-title a,
.site-title a:hover,
.site-title a:focus {
	color: $main_color; 
}

.header-image .site-title > a {
	background: url(./assets/images/case-darwin-logo.svg) no-repeat;
	background-position: center;
	background-size: contain;
	float: left;
	min-height: 60px;
	width: 100%;
	
	@include media($medium-screen-up) {
			background-position: left center;
			min-height: $logo_height;
			// width: $logo_width;
			max-width:500px;
	}
}

.site-description {
	color: $alternate_color;
	@include font-size(16);
	font-weight: 700;
	line-height: 1.4; 
	text-transform: uppercase;
}

.site-description,
.site-title {
	margin-bottom: 0; 
}

.header-image .site-description,
.header-image .site-title {
	display: block;
	text-indent: -9999px; 
}
