.services {
    &__item {
        background-color: $main-color;
        color: $white;
        flex-basis: 50%;
        padding: 40px 20px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border: 1px solid $white;
        transition: all .3s;
        @include media($medium-screen-up) {
            flex-basis: 20%;
            padding: 75px 20px;
        }
        h4 {
            color: $white;
        }
        
        &.hovered {
            background-color: $accent-color;
            path, line, circle, rect {
                stroke: $white;
            }
        }
    }
    &__icon {
        width: auto;
        margin-bottom: 20px;
        svg {
            max-height: 100px;
        }
    }
}