.blue-bg {
    background-color: $main-color;
    color: $white;
    h1,h2,h3,h4,h5,h6 {
        color: $white;
    }
    .button {
        background-color: $secondary-color;
    }
}

.subtle-bg {
    background-color: $subtle_color;
}

.shadow {
    box-shadow: 0 3px 10px rgba(0, 0, 0, .35);;
}