/* # Extra Footer and Badges
---------------------------------------------------------------------------------------------------- */

.badge-wrap {
	margin: 30px auto 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	
	@include media($medium-screen-up) {
		flex-wrap: nowrap;
	}
	
}

.badge-img {
	padding: 5px;
	width: 50%;
	border: 1px solid $alternate_color;
	min-height: 150px;
	display: flex;
	align-items: center;
	justify-content: center;
	@include media($medium-screen-up) {
		padding: 10px;
		width: 20%;
	}
	&:nth-child(1) {
		img {
			max-height: 100px;
		}
		
	}
	&:nth-child(2) {
		img {
			max-height: 42px;
		}
		
	}
	&:nth-child(3) {
		img {
			max-height: 75px;
		}
		
	}
	&:nth-child(4) {
		img {
			max-height: 98px;
		}
		
	}
	&:nth-child(5) {
		img {
			max-height: 90px;
		}
		
	}
	img {
		width:auto;
	}
}

// .badge-img img:hover {
// 	opacity: 0.7;
// }

.extra-footer {
	background: $extrafooter_bg_color;
	color: $extrafooter_text_color;
	.flex-wrap {
		flex-direction: column;
		@include media($medium-screen-up) {
			flex-direction: row;
		}
	}
	.f-half-block {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 50px;
		flex-direction: column;
		@include media ($medium-screen-up) {
			padding: 100px;
		}
	}
	&__half {
		&-copy {
			position: relative;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			h2 {
				color: $main-color;
			}
		}
		&-form {
			h2 {
				color: $white;
			}
		}
	}
	&__content {
		position: relative;
		z-index: 300;
		color: $main-color;
	}
}
	