
// Initial Colors
$white: #fff;
$black: #000;

// Main Colors
// ==============================
$main_color: #25274D;
$secondary_color: #37474f;
$alternate_color: #AAABB8;
$accent_color: #2E9CCA;
$accent_light_color: #00b0ff;
$subtle_color: #F4F4F4;

// BG Colors
$header_bg_color: $main_color;
$body_bg_color: $white;
$entry_bg_color: $white;

// Text Colors
// ====================================
$font_color: $main_color;
$title_color: $main_color;

// Content Colors
$content_links_color: $accent_color;
$content_links_hover_color: $accent_light_color;

$content_font_color: $font_color;
$content_title_color: $title_color;

// Button Colors
$button_text_color: $white;
$button_text_hover_color: $white;
$button_bg_color: $main_color;
$button_bg_hover_color: $accent_color;

// Nav Colors
$nav_bg_color: $main_color;
$nav_link_color: $white;
$nav_hover_color: $accent_color;

$subnav_border_color: $white;

$primarynav_bg_color: $nav_bg_color;
$primarynav_link_color: $nav_link_color;
$primarynav_hover_color: $nav_hover_color;

$secondarynav_bg_color: $alternate_color;
$secondarynav_link_color: $nav_link_color;
$secondarynav_hover_color: $nav_hover_color;

$reponsivenav_link_color: $white;
$reponsivenav_hover_color: $white;


// Footer Colors
// ==========================================
$extrafooter_bg_color: $main_color;
$extrafooter_text_color: $white;

$footerwidgets_bg_color: $subtle_color;
$footerwidgets_text_color: $main-color;
$footerwidgets_title_color: $footerwidgets_text_color;
$footerwidgets_link_color: $accent_color;
$footerwidgets_hover_color: $accent_light_color;

$sitefooter_bg_color: $subtle_color;
$sitefooter_text_color: $main-color;
$sitefooter_link_color: $main-color;
$sitefooter_hover_color: $main-color;



